<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <!-- build:title --> - Icetea Platform
  </title>
  <link rel="stylesheet" href="css/app.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body class="<!-- build:page -->">
  <!-- build:bgr -->
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light <!-- build:nav-theme -->">
        <a class="navbar-brand header__logo" href="index.html">
          <img src="images/logo.png" alt="Icetea logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="technology.html">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="developer.html">Developers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="team.html">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="team.html">Let’s chat now</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- build:closebgr -->
  <!-- build:content -->
  <section class="subscribe container-fluid">
    <div class="subscribe__title">Get the Latest in Your Inbox</div>
    <form action="">
      <div class="wrapper">
        <input type="text" placeholder="Enter Your Email" required>
        <button class="btn btn-info">SUBSCRIBE</button>
      </div>
    </form>
  </section>

  <section class="font-small text-center">
    <img src="images/logo.png" alt="Icetea logo" width="170">
    <div class="mt-4">Add: Level 7, CIC Tower, 2 Alley 219, Trung Kinh St., Yen Hoa Wd.,</div>
    <div class="">Cau Giay Dist., Hanoi, Vietnam</div>
    <div class="mt-3">Email: info@icetea.io</div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="footer__title">Download Icetea Whitepaper</div>
          <p class="mb-4">*This paper is for reference only and is subjected to change. It is neither an advice nor an
            offer of investment.</p>
          <a class="btn btn-info" href="">DOWNLOAD</a>
        </div>
        <div class="col-6 col-md-2 offset-md-1 footer__menu">
          <div class="footer__title-col">About</div>
          <ul>
            <li><a href="team.html">Team</a></li>
            <li><a href="technology.html">Technology</a></li>
            <li><a href="faqs.html">FAQ</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 footer__menu">
          <div class="footer__title-col">Resources</div>
          <ul>
            <li><a href="">Testnet</a></li>
            <li><a href="">Whitepaper</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Github</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2 footer__menu">
          <div class="footer__title-col">Community</div>
          <ul>
            <li><a href="">Telegram (Global)</a></li>
            <li><a href="">Telegram (Vietnam)</a></li>
            <li><a href="">Medium</a></li>
            <li><a href="">Twitter</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-1 footer__menu">
          <ul style="margin-top: 50px;">
            <li><a href="">Lovelock</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">Copyright © 2020 . All rights reserved.</div>
  </footer>
</body>

</html>