.font-small {
  font-size: 13px;
}

.font-xs {
  font-size: 11px;
}

.font-item-title{
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.text-underline{
  text-decoration: underline;
}

.semi-b{
  font-weight: 600!important;
}

.btn {
  background-color: $primary;
  padding: 12px 40px;
  border-radius: 35px;
  font-size: 13px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  border: 1px solid $primary;
  transition: 0.4s;
  text-transform: uppercase;
  img {
    width: 21px;
    margin-right: 3px;
    vertical-align: bottom;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: $primary-hover;
  }
  &-info {
    background-color: $sky;
    border-color: $sky;
    &:hover {
      background-color: $sky-dark;
    }
  }
  &-transparent {
    background-color: transparent;
    border-color: $white;
  }
  &-fix-w{
    width: 200px;
  }
  &-2-line{
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

section {
  padding: 60px 0;
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 40px;
  }
  .subtitle {
    text-align: center;
    margin-top: -35px;
    margin-bottom: 40px;
  }
}
