.developer {
  margin-bottom: 50px;
  &__box {
    text-align: center;
    height: 250px;
    padding: 130px 30px 0;
    font-size: 13px;
    background-size: 40px;
    background-position: top 80px center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      box-shadow: 10px 15px 40px 0 rgba(0, 0, 0, 0.04);
      text-decoration: none;
      color: inherit;
    }
    &::after{
      content: '';
    }
    &.documentation {
      background-image: url(../images/developer/documentation.svg);
      &:hover, &::after {
        background-image: url(../images/developer/documentation-active.svg);
      }
    }
    &.studio {
      background-image: url(../images/developer/studio.svg);
      &:hover, &::after {
        background-image: url(../images/developer/studio-active.svg);
      }
    }
    &.wallet {
      background-image: url(../images/developer/wallet.svg);
      &:hover, &::after {
        background-image: url(../images/developer/wallet-active.svg);
      }
    }
    &.brittle {
      background-image: url(../images/developer/brittle.svg);
      &:hover, &::after {
        background-image: url(../images/developer/brittle-active.svg);
      }
    }
    &.devtool {
      background-image: url(../images/developer/devtool.svg);
      &:hover, &::after {
        background-image: url(../images/developer/devtool-active.svg);
      }
    }
    &.explorer {
      background-image: url(../images/developer/explorer.svg);
      &:hover, &::after {
        background-image: url(../images/developer/explorer-active.svg);
      }
    }
    &-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
}
