.faqs {
  margin-bottom: 50px;
  &__list {
    counter-reset: section;
    li {
      margin-top: 10px;
      display: flex;
      background-color: #f5f5f5;
      &::before {
        counter-increment: section;
        content: counter(section);
        width: 50px;
        text-align: center;
        background-color: $gray-lighter;
        padding-top: 11px;
        font-weight: 700;
      }
    }
    &-content {
      padding: 13px 30px;
      cursor: pointer;
      margin-right: auto;
      position: relative;
      flex: 1;
      .text {
        padding-top: 10px;
      }
      &.active {
        &::after {
          content: "-";
        }
        .faqs__list-title{
          color: $sky;
        }
      }
      &::after {
        content: "+";
        display: block;
        color: $gray;
        font-size: 26px;
        font-weight: 300;
        position: absolute;
        right: 18px;
        top: 7px;
      }
    }
    &-title {
      font-weight: 700;
    }
  }
}
