.footer {
  padding-top: 50px;
  border-top: 1px solid $gray-lighter;
  font-family: $font-poppins;
  font-size: 13px;
  &__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    color: $dark;
    &-col {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 34px;
      color: $dark-light;
    }
  }
  &__menu{
    li{
      margin-bottom: 10px;
    }
  }
  .copyright{
    background-color: $sky-white;
    text-align: center;
    height: 50px;
    padding: 14px 0;
    color: $gray;
  }
}

.info{
  font-size: 13px;
}

.subscribe{
  text-align: center;
  background-color: #004f71;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $white;
  &__title{
    margin-bottom: 20px;
    font-size: 20px;
  }
  .wrapper{
    display: inline-block;
    background-color: rgba(216, 216, 216, 0.1);
    border-radius: 33px;
    height: 43px;
  }
  input{
    background-color: transparent;
    color: $white;
    padding: 8px 20px;
    width: 320px;
    border: none;
    outline: none;
    opacity: 0.5;
    height: 100%;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    @media screen and (max-width: 520px) {
      width: 100%;
    }
  }
  button{
    vertical-align: bottom;
    @media screen and (max-width: 520px) {
      margin-top: 20px;
    }
  }
}