body {
  &.homepage {
    .banner-wrapper{
      background-image: url(../images/home/bgr.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top right 50%;
      min-height: 680px;
      height: auto;
      @media screen and (min-width: $breakpoint-md) {
        height: 100vh;
      }
    }
    .header {
      .nav-link {
        color: $white;
        &:hover,
        &.active {
          color: $white;
        }
      }
      border-color: rgba(233, 233, 233, 0.18);
      .nav-item:last-child {
        border-color: rgba(233, 233, 233, 0.18);
      }
      .text-info:hover{
        color: #50dcff !important;
      }
    }
  }
}
.home {
  &__title {
    color: $white;
    font-weight: 200;
    line-height: 1.28;
    font-size: 29px;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 60px;
    }
    strong {
      font-weight: 700;
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    span.change-text{
      width: 30%;
      text-align: right;
      color: red;
      font-weight: lighter;
      @media screen and (max-width: $breakpoint-sm) {
        width: 50%;
      }
      @media (min-width: $breakpoint-sm)and (max-width: $breakpoint-md) {
        width: 40%;
      }
      @media screen and (max-width: $breakpoint-lg) {
        width: 50%;
      }
    }
    span.text{
      width: 70%;
      text-align: left !important;
      padding-left: 11px;
      @media screen and (max-width: $breakpoint-sm) {
        width: 50%;
      }
      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        width: 50%;
      }
  }
  }
  &__headline {
    font-size: 1.2em;
    font-family: $font-poppins;
    font-weight: 400;
    line-height: 1.65;
    @media screen and (min-width: $breakpoint-sm) {
      line-height: 1.8;
    }
  }
  &__banner {
    position: relative;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    @media screen and (min-width: $breakpoint-sm) {
      text-align: left;
    }
  }
  &__notification {
    color: #c4c4c4;
    text-align: center;
    padding: 11px 15px;
    background-color: rgba(21,183,221,0.15);
    font-size: 14px;
    a {
      color: #ffffff;
      font-weight: 500;
      white-space: nowrap;
    }
    a:hover {
      text-decoration: underline;
    }
    @media screen and (min-width: $breakpoint-sm) {
      font-size: 19px;
    }
  }
  &__gradient {
    background-image: linear-gradient(to top, #00306b, #005172);
    p {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  &__box{
    color: $white;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: top 50px center;
    padding: 110px 20px 50px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    transition: 0.2s;
    height: 100%;
    cursor: pointer;
    &:hover{
      background-color: #fff;
      color: $dark;
      .home__box-text{
        opacity: 1;
      }
    }
    &.wallet{
      background-image: url(../images/home/wallet1.svg);
      &:hover{
        background-image: url(../images/home/wallet2.svg);
      }
    }
    &.agronomy{
      background-image: url(../images/home/agronomy1.svg);
      &:hover{
        background-image: url(../images/home/agronomy2.svg);
      }
    }
    &.auction{
      background-image: url(../images/home/auction1.svg);
      &:hover{
        background-image: url(../images/home/auction2.svg);
      }
    }
    &.game{
      background-image: url(../images/home/game1.svg);
      &:hover{
        background-image: url(../images/home/game2.svg);
      }
    }
    &.membership{
      background-image: url(../images/home/membership1.svg);
      &:hover{
        background-image: url(../images/home/membership2.svg);
      }
    }
    &.realestate{
      background-image: url(../images/home/realestate1.svg);
      &:hover{
        background-image: url(../images/home/realestate2.svg);
      }
    }
    &.healthcare{
      background-image: url(../images/home/healthcare1.svg);
      &:hover{
        background-image: url(../images/home/healthcare2.svg);
      }
    }
    &.network{
      background-image: url(../images/home/network1.svg);
      &:hover{
        background-image: url(../images/home/network2.svg);
      }
    }
    &-title{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 10px;
    }
    &-text{
      font-size: 15px;
      opacity: 0.6;
      line-height: 25px;
    }
  }
  .partner {
    > div {
      padding-top: 26px;
      padding-bottom: 26px;
      transition: 0.3s;
      filter: grayscale(100%);
      &:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
        filter: grayscale(0%);
      }
      img {
        max-height: 50px;
      }
    }
  }
  &__media{
    &-img{
      display: block;
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

#myModal .modal-dialog {
  max-width: 899px;
  margin: 0 auto;
}

.modal-backdrop.show {
  opacity: 0.85;
}