.team {
  .banner {
    background-image: linear-gradient(to bottom, #15b7dd, #00416d);
    color: $white;
    .container {
      background-image: url(../images/team/1.png);
      height: 500px;
      background-repeat: no-repeat;
      background-size: 130%;
      background-position: bottom right;
      font-weight: 700;
      padding-top: 50px;
      line-height: 45px;
      font-size: 35px;
      @media screen and (min-width: $breakpoint-lg) {
        padding-top: 150px;
        padding-top: 122px;
        line-height: 55px;
        font-size: 50px;
        background-size: 96%;
        background-position: top -43px right;
      }
    }
  }
  &__quote {
    blockquote {
      position: relative;
      font-size: 1.8rem;
      line-height: 1.4;
      font-weight: 300;
    }
    blockquote:before {
      position: absolute;
      color: #f1efe6;
      font-size: 8rem;
      content: '“';
      left: -4rem;
      top: -4rem;
    }
  }
  &__list > a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    img {
      filter: grayscale(100%);
      transition: 0.3s;
      &:hover{
        filter: grayscale(0%);
      }
    }
  }
}
