.team {
  .banner {
    background-image: linear-gradient(to bottom, #15b7dd, #00416d);
    color: $white;
    .container {
      background-image: url(../images/team/1.png);
      height: 500px;
      background-repeat: no-repeat;
      background-size: 96%;
      background-position: top -43px right;
      font-size: 50px;
      font-weight: 700;
      padding-top: 122px;
      line-height: 55px;
    }
  }
  &__list > div {
    &:last-child {
      font-size: 35px;
      font-weight: 700;
      padding: 40px 22px;
      line-height: 40px;
      .plus {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      a{
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
