.team {
  .banner {
    background-image: linear-gradient(to bottom, #15b7dd, #00416d);
    color: $white;
    .container {
      background-image: url(../images/team/1.png);
      height: 500px;
      background-repeat: no-repeat;
      background-size: 96%;
      background-position: top -43px right;
      font-size: 50px;
      font-weight: 700;
      padding-top: 122px;
      line-height: 55px;
    }
  }
  &__quote {
    blockquote {
      font-weight: 100;
      font-size: 2rem;
      max-width: 600px;
      line-height: 1.4;
      position: relative;
      margin: 0;
      padding: .5rem;
    }
    blockquote:before {
      position: absolute;
      color: #f1efe6;
      font-size: 8rem;
      width: 4rem;
      height: 4rem;
      content: '“';
      left: -3rem;
      top: -2rem;
    }
    cite {
      font-size: 1.4em;
      line-height: 3;
    }
  }
  &__list > div {
    &:last-child {
      font-size: 35px;
      font-weight: 700;
      padding: 40px 22px;
      line-height: 40px;
      .plus {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      a{
        font-size: 20px;
        font-weight: 600;
      }
    }
    img{
      filter: grayscale(100%);
      transition: 0.3s;
      &:hover{
        filter: grayscale(0%);
      }
    }
  }
}
